body {
  margin: 0;
  /*background-image: url(Background.png);*/
  background-color: #e0ffff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffdab9;

  padding-bottom: 5px;
  text-shadow: 3px 5px 15px rgba(0, 0, 0, 0.545);
}

h1 {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  padding-top: 21px;
}
nav {
  text-align: left;
  padding: 0px;
  margin-left: 0px;
  display: block;
}

.navbar ul {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
  background-color: #f8ff92;
  overflow: hidden;
}
.navbar a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}
.navbar li {
  padding-left: 10px;
  padding-right: 10px;

  float: left;
}
.navbar a:hover {
  background-color: #96e6a1;
}
#bars {
  padding: 10px;
}
